[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
codamaescrow = "A7nHLnjV7dRc8coHJEkjSk7cTiPopYHahK4zpv3Q3cw7"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "npx tsx ./create-codama-client.ts; npx tsx --test --test-reporter=spec tests/*.test.ts"
